<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyongjing.living_bill.dao.CostTypeMapper">

    <!--    <insert id="insertCostType" parameterType="Map">-->
    <!--        INSERT INTO COST_TYPE(USER_ID, BILL_TYPE, BILL_COST_TYPE, STATUS_DISPLAY, SOURCE)-->
    <!--        VALUES (#{userId}, #{billType}, #{billCostType}, #{statusDisplay}, #{source})-->
    <!--    </insert>-->


    <insert id="insertCostType"  useGeneratedKeys="true" keyProperty="id" parameterType="com.feiyongjing.living_bill.enity.CostType">
        INSERT INTO COST_TYPE(USER_ID, BILL_TYPE, BILL_COST_TYPE, STATUS_DISPLAY, SOURCE)
        VALUES (#{userId}, #{billType}, #{billCostType}, #{statusDisplay}, #{source})
    </insert>


    <update id="updateBillCostType" parameterType="Map">
        UPDATE COST_TYPE
            SET STATUS_DISPLAY = #{statusDisplay,jdbcType=VARCHAR}
        WHERE ID = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteBillCostType" parameterType="java.lang.Long">
        DELETE
        FROM COST_TYPE
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <select id="getShownCostTypeByBillType" parameterType="Map" resultType="com.feiyongjing.living_bill.enity.CostType">
        SELECT *
        FROM COST_TYPE
        WHERE USER_ID = #{userId}
          AND BILL_TYPE = #{billType}
        <if test="statusDisplay != null">
            AND STATUS_DISPLAY = #{statusDisplay}
        </if>
    </select>
    <select id="getAllCostTypeByBillType" parameterType="Map" resultType="com.feiyongjing.living_bill.enity.CostType">
        SELECT *
        FROM COST_TYPE
        WHERE USER_ID = #{userId}
          AND BILL_TYPE = #{billType}
    </select>
    <select id="getCostTypeByCostTypeId" parameterType="Map" resultType="com.feiyongjing.living_bill.enity.CostType">
        SELECT *
        FROM COST_TYPE
        WHERE ID = #{id}
    </select>
</mapper>