<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyongjing.living_bill.dao.UserAttachmentTableMapper">

    <select id="getUserFirstCreatedBillTimeByUserId" parameterType="Map" resultType="java.sql.Date">
        SELECT USER_FIRST_CREATED_BILL_TIME
        FROM USER_ATTACHMENT_TABLE
        WHERE USER_ID = #{userId};
    </select>
</mapper>